/* CSS HEX 
--sizzling-red: #f2545bff;
--amaranth-purple: #a93f55ff;
--gunmetal: #19323cff;
--mint-cream: #f3f7f0ff;
--rose-taupe: #8c5e58ff;

font-family: 'Dancing Script', cursive; */

#Topo {
  display: flex;
  justify-content: center;
  font-family: Lobster, cursive;
  font-weight: lighter;
  text-align: center;
  padding: 15px 30px;
  border-bottom: 3px solid #f2545bff;
  margin: 0;
  color: #f2545bff;
  background-color: #19323cff;
  text-shadow: 1px 1px 1px #f3f7f0ff;
}


body {
  margin: 0px 0px;
  background-color: #f3f7f0ff;
  font-family: 'Abel', sans-serif;
  color: #19323C;
}

nav {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid #f2545bff;
}

nav ol {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 3px;
}

nav li {
  list-style: none;
  text-align: center;
  flex-basis: 200px;
  flex-shrink: 1;
  padding: 10px 5px;
}

div.corpo {
  margin: 25px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  border-bottom: 3px solid #f2545bff;
  margin: 0;
  background-color: #8c5e58ff;
}

section.foto{
  width: 250px;
}

section.descrição {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-basis: 700px;
  flex-shrink: 1;
  text-align: justify;
  padding: 15px 45px;
  border-radius: 15px;
  border: 4px solid #f2545bff;
  color: #f3f7f0ff;
  background-color: #19323C;
}

section.descrição p strong {
  color: #f2545bff;
  text-shadow: 1px 1px 1px #8c5e58ff;
}

#Eu {
  padding: 3px 3px;
  border-radius: 20px;
  background-color: #f2545bff;
}

h4.titulo {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  font-weight: lighter;
  text-shadow: 1px 1px 1px #19323C;
  color: #a93f55ff;
  margin: 10px 0px;
}

ol {
  color: #8c5e58ff;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #8c5e58ff;
}

a:hover {
  color: #f2545bff;
  font-size: 17px;
  text-shadow: 2px 1px 2px #19323C;
}

strong {
  color: #8c5e58ff;
}

li.item:nth-of-type(1) {
  font-size: 22px;
}

li.item:nth-of-type(2){
  font-size: 21px;
}

li.item:nth-of-type(3){
  font-size: 20px;
}

li.item:nth-of-type(4){
  font-size: 19px;
}

li.item:nth-of-type(5){
  font-size: 18px;
}

li.item:nth-of-type(odd) {
  font-style:italic;
}

footer {
  text-align: center;
  padding: 5px;
  border-top: 3px solid #f2545bff;
  margin: 0px;
  color: #f3f7f0ff;
  background-color: #19323cff;
}

footer strong{
  color: #f2545bff;
  text-shadow: 1px 1px 2px #8c5e58ff;
}