.topo {
  align-items: center;
  background-color: var(--primary);
  border-bottom: 5px groove var(--tertiary);
  display: flex;
  height: 12vh;
  justify-content: center;
  padding: 5px 15px;
  text-align: center;
}

.header-title {
  animation: shine 0.2s ease 1 alternate;
  color: var(--color-text);
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 40px;
  font-weight: 800;
  margin: 10px 0;
  position: relative;
  transition: all 0.3s;
  text-shadow: 
    1px 0 1px rgba(218, 217, 225, 1),
    2px 1px 1px rgba(188, 187, 195, 1),
    3px 2px 1px rgba(158, 157, 165, 1),
    5px 4px 1px var(--primary),
    4px 4px 1px var(--primary),
    3px 4px 1px var(--primary),
    2px 4px 1px var(--primary),
    1px 4px 1px var(--primary),
    0 4px 1px var(--primary),
    7px 6px 2px var(--secondary),
    8px 6px 3px var(--secondary);
  -webkit-font-smoothing: antialiased;
}

.header-title::selection {
  background-color: transparent;
}

.space {
  color: transparent;
  text-shadow: none;
}

.header-title:nth-child(1) {
  animation-delay: 0;
}

.header-title:nth-child(2) {
  animation-delay: 0.1s;
}

.header-title:nth-child(3) {
  animation-delay: 0.2s;
}

.header-title:nth-child(4) {
  animation: none;
}

.header-title:nth-child(5) {
  animation-delay: 0.3s;
}

.header-title:nth-child(6) {
  animation-delay: 0.4s;
}

.header-title:nth-child(7) {
  animation: none;
}

.header-title:nth-child(8) {
  animation-delay: 0.5s;
}

.header-title:nth-child(9) {
  animation-delay: 0.6s;
}

.header-title:nth-child(10) {
  animation-delay: 0.7s;
}

.header-title:nth-child(11) {
  animation: none;
}

.header-title:nth-child(12) {
  animation-delay: 0.8s;
}

.header-title:nth-child(13) {
  animation-delay: 0.9s;
}

.header-title:nth-child(14) {
  animation-delay: 1.0s;
}

.header-title:nth-child(15) {
  animation-delay: 1.1s;
}

.header-title:nth-child(16) {
  animation-delay: 1.2s;
}

.header-title:nth-child(17) {
  animation: none;
}

.header-title:nth-child(18) {
  animation-delay: 1.3s;
}

.header-title:nth-child(19) {
  animation-delay: 1.4s;
}

.header-title:nth-child(20) {
  animation-delay: 1.5s;
}

.header-title:nth-child(21) {
  animation-delay: 1.6s;
}

.header-title:nth-child(22) {
  animation-delay: 1.7s;
}

.header-title:nth-child(23) {
  animation-delay: 1.8s;
}

.header-title:nth-child(24) {
  animation-delay: 1.9s;
}

.header-title:nth-child(25) {
  animation-delay: 2.0s;
}

@keyframes shine {
  0% {
    text-shadow:
      1px 1px 5px rgba(255, 255, 255, 0.9),
      1px 1px 6px rgba(255, 255, 255, 0.9),
      1px 1px 7px rgba(255, 255, 255, 0.9),
      1px 1px 8px rgba(255, 255, 255, 0.9),
      1px 1px 9px rgba(255, 255, 255, 0.9),
      5px 4px 1px var(--primary),
      4px 4px 1px var(--primary),
      3px 4px 1px var(--primary),
      2px 4px 1px var(--primary),
      1px 4px 1px var(--primary),
      0 4px 1px var(--primary),
      7px 6px 2px var(--secondary),
      8px 6px 3px var(--secondary);
  }

  30% {
    text-shadow:
      1px 1px 4px rgba(255, 255, 255, 0.9),
      1px 1px 5px rgba(255, 255, 255, 0.9),
      1px 1px 6px rgba(255, 255, 255, 0.9),
      1px 1px 7px rgba(255, 255, 255, 0.9),
      1px 1px 8px rgba(255, 255, 255, 0.9),
      5px 4px 1px var(--primary),
      4px 4px 1px var(--primary),
      3px 4px 1px var(--primary),
      2px 4px 1px var(--primary),
      1px 4px 1px var(--primary),
      0 4px 1px var(--primary),
      7px 6px 2px var(--secondary),
      8px 6px 3px var(--secondary);
  }
  
  60% {
    text-shadow:
      1px 1px 3px rgba(255, 255, 255, 0.9),
      1px 1px 4px rgba(255, 255, 255, 0.9),
      1px 1px 5px rgba(255, 255, 255, 0.9),
      1px 1px 6px rgba(255, 255, 255, 0.9),
      1px 1px 7px rgba(255, 255, 255, 0.9),
      5px 4px 1px var(--primary),
      4px 4px 1px var(--primary),
      3px 4px 1px var(--primary),
      2px 4px 1px var(--primary),
      1px 4px 1px var(--primary),
      0 4px 1px var(--primary),
      7px 6px 2px var(--secondary),
      8px 6px 3px var(--secondary);
  } 
}
