/* SCSS RGB
* $black-coffee: rgba(50 , 41 , 47 , 1);
* $middle-blue-green: rgba(153 , 225 , 217 , 1);
* $mint-cream: rgba(240 , 247 , 244 , 1);
* $cadet-blue: rgba(112 , 171 , 175 , 1);
* $umber: rgba(112 , 93 , 86 , 1);

font-family: Playfair Display, serif;
font-family: Roboto, sans-serif;

1366 x 768 */

body {
  margin: 0;
  background-color: rgba(112 , 93 , 86 , 1);
}

#title {
  text-align: center;
  font-family: Playfair Display, serif;
  font-weight: 800;
  font-size: 50px;
  color: rgba(50 , 41 , 47 , 1);
  -webkit-text-stroke-color: rgba(112 , 93 , 86 , 1);
  -webkit-text-stroke-width: 1px;
  text-shadow: 1px 1px 2px rgba(240 , 247 , 244 , 1);
  margin-top: 0;
  margin-bottom: 10px;
}

header {
  background-color: rgba(50 , 41 , 47 , 1);
  border-bottom: 4px solid rgba(112 , 93 , 86 , 1);
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#funcionamento {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 800;
  color: rgba(112 , 171 , 175 , 1);
  background-color: rgba(153 , 225 , 217 , 1);
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 4px solid rgba(112 , 171 , 175 , 1);
  margin-top: 0;
}

aside {
  display: inline-block;
  width: 15%;
  text-align: center;
  vertical-align: top;
  margin-top: 10%;
}

main {
  display: inline-block;
  width: 80%;
  text-align: center;
}

ol {
  text-align: left;
  background-color: rgba(240 , 247 , 244 , 1);
  height: 325px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 4px solid rgba(50 , 41 , 47 , 1);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: scroll;
}

li {
  width: fit-content;
  border-radius: 5px;
  padding: 1px 5px;
}

#texto-tarefa {
  font-family: Roboto, sans-serif;
  font-weight: 800;
  width: 350px;
  height: 23px;
  border: 3px solid rgba(112 , 171 , 175 , 1);
  margin-left: 5px;
  margin-right: 10px;
}

button {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 3px solid rgba(112 , 171 , 175 , 1);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(50 , 41 , 47 , 1);
  margin-left: 5px;
  margin-right: 5px;
}

aside button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 110px;
  height: fit-content;
}

button:hover {
  font-weight: 800;
  border-color: rgba(50 , 41 , 47 , 1);
}

button:active {
  background-color: rgba(153 , 225 , 217 , 1);
  box-shadow: -2px -2px 2px rgba(50 , 41 , 47 , 1);
}

.completed {
  text-decoration: line-through;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(50 , 41 , 47 , 1);
  border-top: 4px solid rgba(112 , 171 , 175 , 1);
  padding-top: 10px;
}

#rodape {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: rgba(240 , 247 , 244 , 1);
  text-shadow: 1px 1px 2px rgba(112 , 171 , 175 , 1);
  margin-top: 5px;
  margin-bottom: 15px;
}
